In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\lakshya sikri\Downloads\SuperStoreOrders.csv")

In [3]:
df.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,1/1/2011,6/1/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408,2,0.0,106.140,35.46,Medium,2011
1,IN-2011-47883,1/1/2011,8/1/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.036,9.72,Medium,2011
2,HU-2011-1220,1/1/2011,5/1/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66,4,0.0,29.640,8.17,High,2011
3,IT-2011-3647632,1/1/2011,5/1/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.055,4.82,High,2011
4,IN-2011-47883,1/1/2011,8/1/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.770,4.70,Medium,2011

In [4]:
df.dtypes

order_id           object
order_date         object
ship_date          object
ship_mode          object
customer_name      object
segment            object
state              object
country            object
market             object
region             object
product_id         object
category           object
sub_category       object
product_name       object
sales              object
quantity            int64
discount          float64
profit            float64
shipping_cost     float64
order_priority     object
year                int64
dtype: object

# Convert to datetime

In [5]:
df['order_date'] = pd.to_datetime(df['order_date'], errors='coerce')
df['ship_date'] = pd.to_datetime(df['ship_date'], errors='coerce')

In [6]:
df.isnull().sum()

order_id              0
order_date        31223
ship_date         31456
ship_mode             0
customer_name         0
segment               0
state                 0
country               0
market                0
region                0
product_id            0
category              0
sub_category          0
product_name          0
sales                 0
quantity              0
discount              0
profit                0
shipping_cost         0
order_priority        0
year                  0
dtype: int64

In [7]:
df['order_date'].fillna(df['order_date'].mode()[0], inplace=True)
df['ship_date'].fillna(df['ship_date'].mode()[0], inplace=True)

# Extract Year, Month, Day, Weekday from order_date and ship_date

In [8]:
df['order_year'] = df['order_date'].dt.year
df['order_month'] = df['order_date'].dt.month
df['order_day'] = df['order_date'].dt.day
df['order_weekday'] = df['order_date'].dt.weekday  # 0=Monday, 6=Sunday
df['order_quarter'] = df['order_date'].dt.quarter

df['ship_year'] = df['ship_date'].dt.year
df['ship_month'] = df['ship_date'].dt.month
df['ship_day'] = df['ship_date'].dt.day
df['ship_weekday'] = df['ship_date'].dt.weekday
df['ship_quarter'] = df['ship_date'].dt.quarter
df.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,order_year,order_month,order_day,order_weekday,order_quarter,ship_year,ship_month,ship_day,ship_weekday,ship_quarter
0,AG-2011-2040,2011-01-01,2011-06-01,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,2011,1,1,5,1,2011,6,1,2,2
1,IN-2011-47883,2011-01-01,2011-08-01,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,2011,1,1,5,1,2011,8,1,0,3
2,HU-2011-1220,2011-01-01,2011-05-01,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,2011,1,1,5,1,2011,5,1,6,2
3,IT-2011-3647632,2011-01-01,2011-05-01,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,2011,1,1,5,1,2011,5,1,6,2
4,IN-2011-47883,2011-01-01,2011-08-01,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,2011,1,1,5,1,2011,8,1,0,3

# Calculate the shipping duration in days

In [9]:
df['shipping_duration'] = (df['ship_date'] - df['order_date']).dt.days
df.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,order_month,order_day,order_weekday,order_quarter,ship_year,ship_month,ship_day,ship_weekday,ship_quarter,shipping_duration
0,AG-2011-2040,2011-01-01,2011-06-01,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,1,1,5,1,2011,6,1,2,2,151
1,IN-2011-47883,2011-01-01,2011-08-01,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,1,1,5,1,2011,8,1,0,3,212
2,HU-2011-1220,2011-01-01,2011-05-01,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,1,1,5,1,2011,5,1,6,2,120
3,IT-2011-3647632,2011-01-01,2011-05-01,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,1,1,5,1,2011,5,1,6,2,120
4,IN-2011-47883,2011-01-01,2011-08-01,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,1,1,5,1,2011,8,1,0,3,212

In [10]:
df['shipping_category'] = pd.cut(df['shipping_duration'], bins=[-1, 0, 2, 5, 10, float('inf')], 
                                 labels=['Same Day', '1-2 Days', '3-5 Days', '6-10 Days', '10+ Days'])
df.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,order_day,order_weekday,order_quarter,ship_year,ship_month,ship_day,ship_weekday,ship_quarter,shipping_duration,shipping_category
0,AG-2011-2040,2011-01-01,2011-06-01,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,1,5,1,2011,6,1,2,2,151,10+ Days
1,IN-2011-47883,2011-01-01,2011-08-01,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,1,5,1,2011,8,1,0,3,212,10+ Days
2,HU-2011-1220,2011-01-01,2011-05-01,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,1,5,1,2011,5,1,6,2,120,10+ Days
3,IT-2011-3647632,2011-01-01,2011-05-01,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,1,5,1,2011,5,1,6,2,120,10+ Days
4,IN-2011-47883,2011-01-01,2011-08-01,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,1,5,1,2011,8,1,0,3,212,10+ Days

# Weekend flag for orders and shipments

In [11]:
df['order_is_weekend'] = df['order_date'].dt.weekday >= 5  # 5=Saturday, 6=Sunday

df['ship_is_weekend'] = df['ship_date'].dt.weekday >= 5
df.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,order_quarter,ship_year,ship_month,ship_day,ship_weekday,ship_quarter,shipping_duration,shipping_category,order_is_weekend,ship_is_weekend
0,AG-2011-2040,2011-01-01,2011-06-01,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,1,2011,6,1,2,2,151,10+ Days,True,False
1,IN-2011-47883,2011-01-01,2011-08-01,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,1,2011,8,1,0,3,212,10+ Days,True,False
2,HU-2011-1220,2011-01-01,2011-05-01,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,1,2011,5,1,6,2,120,10+ Days,True,True
3,IT-2011-3647632,2011-01-01,2011-05-01,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,1,2011,5,1,6,2,120,10+ Days,True,True
4,IN-2011-47883,2011-01-01,2011-08-01,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,1,2011,8,1,0,3,212,10+ Days,True,False

In [12]:
df = df.sort_values(by=['customer_name', 'order_date'])  # Sort by customer and date
df['days_since_last_order'] = df.groupby('customer_name')['order_date'].diff().dt.days
df.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,ship_year,ship_month,ship_day,ship_weekday,ship_quarter,shipping_duration,shipping_category,order_is_weekend,ship_is_weekend,days_since_last_order
6746,MX-2011-127215,2011-03-11,2011-05-11,First Class,Aaron Bergman,Consumer,Jalisco,Mexico,LATAM,North,...,2011,5,11,2,2,61,10+ Days,False,False,NaN
1419,ES-2011-4146320,2011-04-04,2011-09-04,Standard Class,Aaron Bergman,Consumer,Scotland,United Kingdom,EU,North,...,2011,9,4,6,3,153,10+ Days,False,True,24.0
1427,ES-2011-4146320,2011-04-04,2011-09-04,Standard Class,Aaron Bergman,Consumer,Scotland,United Kingdom,EU,North,...,2011,9,4,6,3,153,10+ Days,False,True,0.0
932,CA-2011-156587,2011-07-03,2011-08-03,First Class,Aaron Bergman,Consumer,Washington,United States,US,West,...,2011,8,3,2,3,31,10+ Days,True,False,90.0
938,CA-2011-156587,2011-07-03,2011-08-03,First Class,Aaron Bergman,Consumer,Washington,United States,US,West,...,2011,8,3,2,3,31,10+ Days,True,False,0.0

# Define seasons based on month

In [13]:
# Define seasons based on month
def get_season(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    else:
        return 'Fall'

df['order_season'] = df['order_month'].apply(get_season)
df.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,ship_month,ship_day,ship_weekday,ship_quarter,shipping_duration,shipping_category,order_is_weekend,ship_is_weekend,days_since_last_order,order_season
6746,MX-2011-127215,2011-03-11,2011-05-11,First Class,Aaron Bergman,Consumer,Jalisco,Mexico,LATAM,North,...,5,11,2,2,61,10+ Days,False,False,NaN,Spring
1419,ES-2011-4146320,2011-04-04,2011-09-04,Standard Class,Aaron Bergman,Consumer,Scotland,United Kingdom,EU,North,...,9,4,6,3,153,10+ Days,False,True,24.0,Spring
1427,ES-2011-4146320,2011-04-04,2011-09-04,Standard Class,Aaron Bergman,Consumer,Scotland,United Kingdom,EU,North,...,9,4,6,3,153,10+ Days,False,True,0.0,Spring
932,CA-2011-156587,2011-07-03,2011-08-03,First Class,Aaron Bergman,Consumer,Washington,United States,US,West,...,8,3,2,3,31,10+ Days,True,False,90.0,Summer
938,CA-2011-156587,2011-07-03,2011-08-03,First Class,Aaron Bergman,Consumer,Washington,United States,US,West,...,8,3,2,3,31,10+ Days,True,False,0.0,Summer

# Holiday dates

In [14]:
holidays = ['2024-01-01', '2024-12-25'] 
holidays = pd.to_datetime(holidays)

df['order_is_holiday'] = df['order_date'].isin(holidays)
df['ship_is_holiday'] = df['ship_date'].isin(holidays)
df.head(50)

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,ship_weekday,ship_quarter,shipping_duration,shipping_category,order_is_weekend,ship_is_weekend,days_since_last_order,order_season,order_is_holiday,ship_is_holiday
6746,MX-2011-127215,2011-03-11,2011-05-11,First Class,Aaron Bergman,Consumer,Jalisco,Mexico,LATAM,North,...,2,2,61,10+ Days,False,False,NaN,Spring,False,False
1419,ES-2011-4146320,2011-04-04,2011-09-04,Standard Class,Aaron Bergman,Consumer,Scotland,United Kingdom,EU,North,...,6,3,153,10+ Days,False,True,24.0,Spring,False,False
1427,ES-2011-4146320,2011-04-04,2011-09-04,Standard Class,Aaron Bergman,Consumer,Scotland,United Kingdom,EU,North,...,6,3,153,10+ Days,False,True,0.0,Spring,False,False
932,CA-2011-156587,2011-07-03,2011-08-03,First Class,Aaron Bergman,Consumer,Washington,United States,US,West,...,2,3,31,10+ Days,True,False,90.0,Summer,False,False
938,CA-2011-156587,2011-07-03,2011-08-03,First Class,Aaron Bergman,Consumer,Washington,United States,US,West,...,2,3,31,10+ Days,True,False,0.0,Summer,False,False
942,CA-2011-156587,2011-07-03,2011-08-03,First Class,Aaron Bergman,Consumer,Washington,United States,US,West,...,2,3,31,10+ Days,True,False,0.0,Summer,False,False
10730,ZA-2012-2040,2012-06-04,2012-12-04,Standard Class,Aaron Bergman,Consumer,Copperbelt,Zambia,Africa,Africa,...,1,4,183,10+ Days,False,False,337.0,Summer,False,False
10732,ZA-2012-2040,2012-06-04,2012-12-04,Standard Class,Aaron Bergman,Consumer,Copperbelt,Zambia,Africa,Africa,...,1,4,183,10+ Days,False,False,0.0,Summer,False,False
10753,ZA-2012-2040,2012-06-04,2012-12-04,Standard Class,Aaron Bergman,Consumer,Copperbelt,Zambia,Africa,Africa,...,1,4,183,10+ Days,False,False,0.0,Summer,False,False
10756,ZA-2012-2040,2012-06-04,2012-12-04,Standard Class,Aaron Bergman,Consumer,Copperbelt,Zambia,Africa,Africa,...,1,4,183,10+ Days,False,False,0.0,Summer,False,False
9167,IN-2012-70325,2012-11-01,2014-07-09,Standard Class,Aaron Bergman,Consumer,Maharashtra,India,APAC,Central Asia,...,2,3,615,10+ Days,False,False,150.0,Fall,False,False
9174,IN-2012-70325,2012-11-01,2014-07-09,Standard Class,Aaron Bergman,Consumer,Maharashtra,India,APAC,Central Asia,...,2,3,615,10+ Days,False,False,0.0,Fall,False,False
10174,ES-2012-4291867,2012-12-03,2014-07-09,Standard Class,Aaron Bergman,Consumer,North Rhine-Westphalia,Germany,EU,Central,...,2,3,583,10+ Days,False,False,32.0,Winter,False,False
10176,ES-2012-4291867,2012-12-03,2014-07-09,Standard Class,Aaron Bergman,Consumer,North Rhine-Westphalia,Germany,EU,Central,...,2,3,583,10+ Days,False,False,0.0,Winter,False,False
10181,ES-2012-4291867,2012-12-03,2014-07-09,Standard Class,Aaron Bergman,Consumer,North Rhine-Westphalia,Germany,EU,Central,...,2,3,583,10+ Days,False,False,0.0,Winter,False,False
10184,ES-2012-4291867,2012-12-03,2014-07-09,Standard Class,Aaron Bergman,Consumer,North Rhine-Westphalia,Germany,EU,Central,...,2,3,583,10+ Days,False,False,0.0,Winter,False,False
31049,CA-2013-140935,2013-11-11,2014-07-09,First Class,Aaron Bergman,Consumer,Oklahoma,United States,US,Central,...,2,3,240,10+ Days,False,False,343.0,Fall,False,False
31058,CA-2013-140935,2013-11-11,2014-07-09,First Class,Aaron Bergman,Consumer,Oklahoma,United States,US,Central,...,2,3,240,10+ Days,False,False,0.0,Fall,False,False
693,CA-2011-152905,2014-03-09,2014-07-09,Standard Class,Aaron Bergman,Consumer,Texas,United States,US,Central,...,2,3,122,10+ Days,True,False,118.0,Spring,False,False
1134,ES-2011-3528133,2014-03-09,2014-07-09,First Class,Aaron Bergman,Consumer,Sicily,Italy,EU,South,...,2,3,122,10+ Days,True,False,0.0,Spring,False,False
1135,ES-2011-3528133,2014-03-09,2014-07-09,First Class,Aaron Bergman,Consumer,Sicily,Italy,EU,South,...,2,3,122,10+ Days,True,False,0.0,Spring,False,False
1146,ES-2011-3528133,2014-03-09,2014-07-09,First Class,Aaron Bergman,Consumer,Sicily,Italy,EU,South,...,2,3,122,10+ Days,True,False,0.0,Spring,False,False
2248,UP-2011-7210,2014-03-09,2014-07-09,First Class,Aaron Bergman,Consumer,Mykolayiv,Ukraine,EMEA,EMEA,...,2,3,122,10+ Days,True,False,0.0,Spring,False,False
4720,ES-2011-4184901,2014-03-09,2011-01-09,Second Class,Aaron Bergman,Consumer,Veneto,Italy,EU,South,...,6,1,-1155,NaN,True,True,0.0,Spring,False,False
4722,ES-2011-4184901,2014-03-09,2011-01-09,Second Class,Aaron Bergman,Consumer,Veneto,Italy,EU,South,...,6,1,-1155,NaN,True,True,0.0,Spring,False,False
6191,MX-2011-154641,2014-03-09,2014-07-09,Standard Class,Aaron Bergman,Consumer,São Paulo,Brazil,LATAM,South,...,2,3,122,10+ Days,True,False,0.0,Spring,False,False
9728,MX-2012-111171,2014-03-09,2014-07-09,Second Class,Aaron Bergman,Consumer,Guatemala,Guatemala,LATAM,Central,...,2,3,122,10+ Days,True,False,0.0,Spring,False,False
9731,MX-2012-111171,2014-03-09,2014-07-09,Second Class,Aaron Bergman,Consumer,Guatemala,Guatemala,LATAM,Central,...,2,3,122,10+ Days,True,False,0.0,Spring,False,False
10355,ES-2012-2621001,2014-03-09,2014-07-09,Same Day,Aaron Bergman,Consumer,England,United Kingdom,EU,North,...,2,3,122,10+ Days,True,False,0.0,Spring,False,False
12620,ID-2012-66111,2014-03-09,2014-07-09,First Class,Aaron Bergman,Consumer,Hubei,China,APAC,North Asia,...,2,3,122,10+ Days,True,False,0.0,Spring,False,False
12624,ID-2012-66111,2014-03-09,2014-07-09,First Class,Aaron Bergman,Consumer,Hubei,China,APAC,North Asia,...,2,3,122,10+ Days,True,False,0.0,Spring,False,False
13621,IR-2012-1280,2014-03-09,2014-07-09,First Class,Aaron Bergman,Consumer,Qom,Iran,EMEA,EMEA,...,2,3,122,10+ Days,True,False,0.0,Spring,False,False
13632,IR-2012-1280,2014-03-09,2014-07-09,First Class,Aaron Bergman,Consumer,Qom,Iran,EMEA,EMEA,...,2,3,122,10+ Days,True,False,0.0,Spring,False,False
14595,IT-2012-2898980,2014-03-09,2014-07-09,Same Day,Aaron Bergman,Consumer,North Brabant,Netherlands,EU,Central,...,2,3,122,10+ Days,True,False,0.0,Spring,False,False
14605,IT-2012-2898980,2014-03-09,2014-07-09,Same Day,Aaron Bergman,Consumer,North Brabant,Netherlands,EU,Central,...,2,3,122,10+ Days,True,False,0.0,Spring,False,False
19835,ID-2012-28780,2014-03-09,2013-02-01,Standard Class,Aaron Bergman,Consumer,Bangkok,Thailand,APAC,Southeast Asia,...,4,1,-401,NaN,True,False,0.0,Spring,False,False
19837,ID-2012-28780,2014-03-09,2013-02-01,Standard Class,Aaron Bergman,Consumer,Bangkok,Thailand,APAC,Southeast Asia,...,4,1,-401,NaN,True,False,0.0,Spring,False,False
19841,ID-2012-28780,2014-03-09,2013-02-01,Standard Class,Aaron Bergman,Consumer,Bangkok,Thailand,APAC,Southeast Asia,...,4,1,-401,NaN,True,False,0.0,Spring,False,False
19850,ID-2012-28780,2014-03-09,2013-02-01,Standard Class,Aaron Bergman,Consumer,Bangkok,Thailand,APAC,Southeast Asia,...,4,1,-401,NaN,True,False,0.0,Spring,False,False
19859,ID-2012-28780,2014-03-09,2013-02-01,Standard Class,Aaron Bergman,Consumer,Bangkok,Thailand,APAC,Southeast Asia,...,4,1,-401,NaN,True,False,0.0,Spring,False,False
19875,ID-2012-28780,2014-03-09,2013-02-01,Standard Class,Aaron Bergman,Consumer,Bangkok,Thailand,APAC,Southeast Asia,...,4,1,-401,NaN,True,False,0.0,Spring,False,False
23865,US-2013-123806,2014-03-09,2013-06-06,Standard Class,Aaron Bergman,Consumer,Santa Fe,Argentina,LATAM,South,...,3,2,-276,NaN,True,False,0.0,Spring,False,False
23875,US-2013-123806,2014-03-09,2013-06-06,Standard Class,Aaron Bergman,Consumer,Santa Fe,Argentina,LATAM,South,...,3,2,-276,NaN,True,False,0.0,Spring,False,False
25092,IN-2013-37803,2014-03-09,2014-07-09,Standard Class,Aaron Bergman,Consumer,Queensland,Australia,APAC,Oceania,...,2,3,122,10+ Days,True,False,0.0,Spring,False,False
25100,IN-2013-37803,2014-03-09,2014-07-09,Standard Class,Aaron Bergman,Consumer,Queensland,Australia,APAC,Oceania,...,2,3,122,10+ Days,True,False,0.0,Spring,False,False
25102,IN-2013-37803,2014-03-09,2014-07-09,Standard Class,Aaron Bergman,Consumer,Queensland,Australia,APAC,Oceania,...,2,3,122,10+ Days,True,False,0.0,Spring,False,False
25108,IN-2013-37803,2014-03-09,2014-07-09,Standard Class,Aaron Bergman,Consumer,Queensland,Australia,APAC,Oceania,...,2,3,122,10+ Days,True,False,0.0,Spring,False,False
25112,IN-2013-37803,2014-03-09,2014-07-09,Standard Class,Aaron Bergman,Consumer,Queensland,Australia,APAC,Oceania,...,2,3,122,10+ Days,True,False,0.0,Spring,False,False
25117,IN-2013-37803,2014-03-09,2014-07-09,Standard Class,Aaron Bergman,Consumer,Queensland,Australia,APAC,Oceania,...,2,3,122,10+ Days,True,False,0.0,Spring,False,False
25164,IN-2013-37803,2014-03-09,2014-07-09,Standard Class,Aaron Bergman,Consumer,Queensland,Australia,APAC,Oceania,...,2,3,122,10+ Days,True,False,0.0,Spring,False,False

In [15]:
df['days_to_month_end'] = df['order_date'].apply(lambda x: (pd.Period(x, freq='M').end_time - x).days)
df.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,ship_quarter,shipping_duration,shipping_category,order_is_weekend,ship_is_weekend,days_since_last_order,order_season,order_is_holiday,ship_is_holiday,days_to_month_end
6746,MX-2011-127215,2011-03-11,2011-05-11,First Class,Aaron Bergman,Consumer,Jalisco,Mexico,LATAM,North,...,2,61,10+ Days,False,False,NaN,Spring,False,False,20
1419,ES-2011-4146320,2011-04-04,2011-09-04,Standard Class,Aaron Bergman,Consumer,Scotland,United Kingdom,EU,North,...,3,153,10+ Days,False,True,24.0,Spring,False,False,26
1427,ES-2011-4146320,2011-04-04,2011-09-04,Standard Class,Aaron Bergman,Consumer,Scotland,United Kingdom,EU,North,...,3,153,10+ Days,False,True,0.0,Spring,False,False,26
932,CA-2011-156587,2011-07-03,2011-08-03,First Class,Aaron Bergman,Consumer,Washington,United States,US,West,...,3,31,10+ Days,True,False,90.0,Summer,False,False,28
938,CA-2011-156587,2011-07-03,2011-08-03,First Class,Aaron Bergman,Consumer,Washington,United States,US,West,...,3,31,10+ Days,True,False,0.0,Summer,False,False,28

In [16]:
df['lag_1_day_sales'] = df['sales'].shift(1)
df['lag_7_day_sales'] = df['sales'].shift(7)
df.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,shipping_category,order_is_weekend,ship_is_weekend,days_since_last_order,order_season,order_is_holiday,ship_is_holiday,days_to_month_end,lag_1_day_sales,lag_7_day_sales
6746,MX-2011-127215,2011-03-11,2011-05-11,First Class,Aaron Bergman,Consumer,Jalisco,Mexico,LATAM,North,...,10+ Days,False,False,NaN,Spring,False,False,20,None,None
1419,ES-2011-4146320,2011-04-04,2011-09-04,Standard Class,Aaron Bergman,Consumer,Scotland,United Kingdom,EU,North,...,10+ Days,False,True,24.0,Spring,False,False,26,82,None
1427,ES-2011-4146320,2011-04-04,2011-09-04,Standard Class,Aaron Bergman,Consumer,Scotland,United Kingdom,EU,North,...,10+ Days,False,True,0.0,Spring,False,False,26,51,None
932,CA-2011-156587,2011-07-03,2011-08-03,First Class,Aaron Bergman,Consumer,Washington,United States,US,West,...,10+ Days,True,False,90.0,Summer,False,False,28,32,None
938,CA-2011-156587,2011-07-03,2011-08-03,First Class,Aaron Bergman,Consumer,Washington,United States,US,West,...,10+ Days,True,False,0.0,Summer,False,False,28,49,None

# Week of the Month:

In [17]:
df['order_week_of_month'] = df['order_date'].apply(lambda d: (d.day - 1) // 7 + 1)
df.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,order_is_weekend,ship_is_weekend,days_since_last_order,order_season,order_is_holiday,ship_is_holiday,days_to_month_end,lag_1_day_sales,lag_7_day_sales,order_week_of_month
6746,MX-2011-127215,2011-03-11,2011-05-11,First Class,Aaron Bergman,Consumer,Jalisco,Mexico,LATAM,North,...,False,False,NaN,Spring,False,False,20,None,None,2
1419,ES-2011-4146320,2011-04-04,2011-09-04,Standard Class,Aaron Bergman,Consumer,Scotland,United Kingdom,EU,North,...,False,True,24.0,Spring,False,False,26,82,None,1
1427,ES-2011-4146320,2011-04-04,2011-09-04,Standard Class,Aaron Bergman,Consumer,Scotland,United Kingdom,EU,North,...,False,True,0.0,Spring,False,False,26,51,None,1
932,CA-2011-156587,2011-07-03,2011-08-03,First Class,Aaron Bergman,Consumer,Washington,United States,US,West,...,True,False,90.0,Summer,False,False,28,32,None,1
938,CA-2011-156587,2011-07-03,2011-08-03,First Class,Aaron Bergman,Consumer,Washington,United States,US,West,...,True,False,0.0,Summer,False,False,28,49,None,1

# Is Peak Season

In [18]:
def is_peak_season(month):
    return month in [11, 12]

df['is_peak_season'] = df['order_month'].apply(is_peak_season)
df.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,ship_is_weekend,days_since_last_order,order_season,order_is_holiday,ship_is_holiday,days_to_month_end,lag_1_day_sales,lag_7_day_sales,order_week_of_month,is_peak_season
6746,MX-2011-127215,2011-03-11,2011-05-11,First Class,Aaron Bergman,Consumer,Jalisco,Mexico,LATAM,North,...,False,NaN,Spring,False,False,20,None,None,2,False
1419,ES-2011-4146320,2011-04-04,2011-09-04,Standard Class,Aaron Bergman,Consumer,Scotland,United Kingdom,EU,North,...,True,24.0,Spring,False,False,26,82,None,1,False
1427,ES-2011-4146320,2011-04-04,2011-09-04,Standard Class,Aaron Bergman,Consumer,Scotland,United Kingdom,EU,North,...,True,0.0,Spring,False,False,26,51,None,1,False
932,CA-2011-156587,2011-07-03,2011-08-03,First Class,Aaron Bergman,Consumer,Washington,United States,US,West,...,False,90.0,Summer,False,False,28,32,None,1,False
938,CA-2011-156587,2011-07-03,2011-08-03,First Class,Aaron Bergman,Consumer,Washington,United States,US,West,...,False,0.0,Summer,False,False,28,49,None,1,False

In [19]:
df.head(100)

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,ship_is_weekend,days_since_last_order,order_season,order_is_holiday,ship_is_holiday,days_to_month_end,lag_1_day_sales,lag_7_day_sales,order_week_of_month,is_peak_season
6746,MX-2011-127215,2011-03-11,2011-05-11,First Class,Aaron Bergman,Consumer,Jalisco,Mexico,LATAM,North,...,False,NaN,Spring,False,False,20,None,None,2,False
1419,ES-2011-4146320,2011-04-04,2011-09-04,Standard Class,Aaron Bergman,Consumer,Scotland,United Kingdom,EU,North,...,True,24.0,Spring,False,False,26,82,None,1,False
1427,ES-2011-4146320,2011-04-04,2011-09-04,Standard Class,Aaron Bergman,Consumer,Scotland,United Kingdom,EU,North,...,True,0.0,Spring,False,False,26,51,None,1,False
932,CA-2011-156587,2011-07-03,2011-08-03,First Class,Aaron Bergman,Consumer,Washington,United States,US,West,...,False,90.0,Summer,False,False,28,32,None,1,False
938,CA-2011-156587,2011-07-03,2011-08-03,First Class,Aaron Bergman,Consumer,Washington,United States,US,West,...,False,0.0,Summer,False,False,28,49,None,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21455,IN-2013-15396,2013-08-03,2014-07-09,Standard Class,Aaron Hawkins,Corporate,Mie,Japan,APAC,North Asia,...,False,0.0,Summer,False,False,28,"1,932",12,1,False
24272,KE-2013-5600,2013-08-06,2013-12-06,Standard Class,Aaron Hawkins,Corporate,Rift Valley,Kenya,Africa,Africa,...,False,3.0,Summer,False,False,25,479,781,1,False
24276,KE-2013-5600,2013-08-06,2013-12-06,Standard Class,Aaron Hawkins,Corporate,Rift Valley,Kenya,Africa,Africa,...,False,0.0,Summer,False,False,25,47,182,1,False
1749,CA-2011-122070,2014-03-09,2014-07-09,Second Class,Aaron Hawkins,Corporate,New York,United States,US,East,...,False,215.0,Spring,False,False,22,7,492,2,False
1779,CA-2011-122070,2014-03-09,2014-07-09,Second Class,Aaron Hawkins,Corporate,New York,United States,US,East,...,False,0.0,Spring,False,False,22,248,119,2,False